:root {
  color-scheme: dark;
  --bg: #1d1d1d;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: #ffb300;
  --accent-hover: #ffe099;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}

body {
    display: block;
    padding: 4rem;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    rgb(44, 9, 44),
    rgb(39, 31, 183),
    rgb(48, 117, 16),
    rgb(6, 58, 13)
  );
  opacity: 0.75;
}

a {
  color: #ffb300;
}

a:visited {
  color: #ffb300;
}