body {
    background-color: #1d1d1d;
    display: block;
    padding: 4rem;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    rgb(44, 9, 44),
    rgb(39, 31, 183),
    rgb(48, 117, 16),
    rgb(6, 58, 13)
  );
  opacity: 0.75;
}