.btn {
    color: black;
    background-color: #3bb641;
    border-color: #3bb641;
    border-radius: 0.5rem;
    font-weight: bold;
}

.btn-delete-backlog {
    display: inline-block;
}

.delete-item-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;

    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-weight: bold;
    border: #AE1313;
    border-radius: 50%;

    background-color: #AE1313;
    color: white;
    accent-color: #f18f8f;

}

.delete-item-button:hover {
    color: black;
}

.backlog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.sort-label {
    font-weight: bold;
    color: #3bb641;
    margin-right: 1rem;
    margin-top: 1.25rem;
    align-self: flex-start;
}

.sort-items-select {
    background-color: #3bb641;
    color: black;
    border-color: #3bb641;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 0.75rem;
    height: 100%;
}

.sort-items-select:not([multiple]) {
    background-image:
      linear-gradient(45deg, transparent 49%, #000 51%),
      linear-gradient(135deg, #000 51%, transparent 49%);
}

.filter-items {
    border-color: #3bb641;
    color: #3bb641;
    border-radius: 0.5rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .backlog-actions {
        flex-direction: column;
        align-items: flex-end;
    }

    .sort-items-select {
        margin-bottom: 1rem;
        margin-right: 0;
    }
}
