.search-items-wrapper {
    position: absolute;
    left: 4rem;
    margin-top: -2.25rem;
}

.search-input {
    border-color: #3bb641;
    border-radius: 0.5rem;
}

.search-label {
    font-weight: bold;
    color: #3bb641;
    margin-right: 1rem;
    margin-top: 1.25rem;
    align-self: flex-start;
}

@media (max-width: 924px) {
  /* Stop absolute positioning so search field scales properly */
  .search-items-wrapper {
    position: static;
    margin: 0 0 0.75rem 0;
    width: 100%;
  }

  .search-label {
    margin-top: 0.5rem;
    white-space: nowrap;
  }

  .search-input {
    min-width: 0;
    width: 100%;
  }
}