.backlog-title-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
}

.title {
    justify-self: center;
    grid-column-start: 2;
    color: #3bb641;
    padding: 2rem 0;
}


.edit-title {
    justify-self: start;
    align-self: center;
    color: inherit;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.description {
    color: #3bb641;
    display: flex;
    justify-content: center;
}