.back-arrow-icon {
    display: inline;
    height: 1.5em;
    color: inherit;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.backlog-title-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
}

.title {
    justify-self: center;
    grid-column-start: 2;
    color: #3bb641;
    padding: 2rem 0;
}

.edit-title-icon {
    height: 1.5em;
    justify-self: start;
    align-self: center;
    color: #3bb641;
    margin-top: 1rem;
    margin-left: 1rem;
    vertical-align: middle;
}

.description {
    color: #3bb641;
    display: flex;
    justify-content: center;
}