.bg-image {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    z-index: -1;
    opacity: 0.15;
    filter: blur(3px);
}

.main-logo {
    justify-self: center;
    padding: 2rem 0;
}

.back-arrow-icon {
    display: inline;
    height: 1.5em;
    color: inherit;
    margin-right: 0.5rem;
    vertical-align: middle;
}

@media (max-width: 1280px) {
    .bg-image {
        width: 100%;
        height: 100%;
    }
}