.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
  gap: 5rem;
}

.item-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border-color: #1d1d1d;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  padding: 0;
  height: 40rem;
}

.item-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.item-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.item-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.item-card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.item-card-face--back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.item-image {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
  opacity: 1;
} 

.item-content {
  background-color: #3bb641;
  color: black;
  padding: 1rem;
  height: 100%;
}

.item-title {
  font-size: 2rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  padding-bottom: 5px;
  margin-bottom: 0;
  height: 7rem;
}

.item-link {
  color: black;
}

.item-link:visited {
  color: inherit;
}

.item-subtitle, .item-meta {
  font-size: 1.15rem;
  font-weight: 600;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.75rem 0.15rem;
}

.item-note {
  font-size: 1.15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.75rem 0;
}

.item-status {
  position: absolute;
  top: 1rem;
  right: 1rem;
}