:root {
  --nav-height: 7.5rem;
}

.primary-nav a,
.primary-nav a:visited {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0.6rem 1rem;
    line-height: normal;
    border: var(--border-width) solid #3bb641;
    border-radius: 15px;
    color: #3bb641;
    text-decoration: none;
    /* margin: 0 .5rem 1rem; */
}

.primary-nav a:hover {
    border: var(--border-width)solid #3bb641;
    color: #ebebeb;
    background-color: #3bb6418f;
}

.primary-nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    z-index: 1000;
    background-color: transparent;
    box-shadow: 50px 100px 100px rgba(0,0,0,0.7) inset;
    padding: 0.5rem 2rem;
    overflow: hidden;
    text-wrap: nowrap;
}

.primary-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 0;
}

.primary-nav-list-item {
    font-weight: bold;
    font-size: 1rem;
}

.primary-nav-link {
    background-color: #161616ed;
}

.topnav_open, .topnav_close {
    background: none;
    border: none;
    padding: 0;
    display: block;
    /* margin-inline-start: auto; */
    cursor: pointer;
}

.topnav_open[aria-expanded="true"] {
    + .topnav_menu {
        translate: 0;
        
        /*  */
        @media only screen and (prefers-reduced-motion: reduce) {
            opacity: 1;
        }
    }
}

.open-menu-icon, .close-menu-icon {
    width: 2.5rem;
    height: 2.5rem;
    color: #ebebeb;
}

.nav-search-bar {
    margin-left: auto;
    margin-top: 0.5rem;
    font-size: inherit;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1050px) {
    .topnav_open, .topnav_close {
        display: block;
    }

    .topnav_menu {
        background-color: rgb(19, 53, 25);
        position: fixed;
        inset: 0;
        padding: 1.5rem;
        translate: 100vw 0;
        transition: translate 0.5s ease-in-out;
    }

    .primary-nav-list {
        list-style: none;
        display: block;
        margin: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        overflow: hidden;
        transition: height 0.3s ease 0.7s, width 0.7s ease;
    }

    .primary-nav-list-item {
        list-style: none;
        padding-top: 1em;
        padding-bottom: 1em;
        height: 10rem;
    }

    .primary-nav-link {
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
        justify-content: center;
    }

    .primary-nav-logo {
        display: none;
    }

    .nav-search-bar {
        margin-top: 0;
        transition: margin-left 0.5s ease-in-out, margin-top 0.5s ease-in-out;
    }

    .nav-search-input {
        width: 20rem;
        transition: width 0.5s ease-in-out;
    }
}

/* Change to a fade in and out effect for users with reduced motion preferences */
@media only screen and (max-width: 1050px) and (prefers-reduced-motion: reduce) {
    .topnav_menu {
        translate: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1050px) {
    .topnav_open, .topnav_close {
        display: none;
    }
 }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* XXL devices (1440p desktops, 2000px and up) */
@media only screen and (min-width: 2000px) {}