<nav id="primary-navigation" class="primary-nav" aria-label="Primary">
	<div id="logo" class="primary-nav-logo">
		<img class="nav-logo-icon" aria-hidden="true" focusable="false" width="100" src="{{ asset('images/Logo_transparent.png') }}" alt="Site logo"></img>
    </div>
    <ul class="primary-nav-sections primary-nav-list">
        <li class="primary-nav-list-item">
            <a class="primary-nav-link" href="{{ path('app_backlog_index') }}">Home</a>
        </li>
        <li class="primary-nav-list-item">
            <a class="primary-nav-link" href="{{ path('app_backlog_overview') }}">My Backlogs</a>
        </li>
    </ul>

    <div class="search-bar">
        <form action="{{ path('app_spotify_search') }}" method="get">
            <input type="text" name="query" placeholder="..." required>
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
</nav>
