{% extends 'base.html.twig' %}

{% block title %}New Backlog{% endblock %}

{% block body %}
    {# <a href="{{ path('app_backlog_overview') }}">{{ ux_icon('material-symbols:arrow-back-rounded', {class: 'back-arrow-icon'}) }}back to backlog overview</a> #}

    <h1 class="title">Create new Backlog</h1>

    {{ include('backlog/_form.html.twig') }}

{% endblock %}
